DB_HOST=localhost
DB_PORT=5435
DB_USER=aliaflow
DB_PASSWORD=aliaflow
DB_NAME=aliaflow_cms
JWT_SECRET=change-me
PORT=4000
ADMIN_ORIGIN=http://localhost:4001
ADMIN_EMAIL=admin@aliaflow.com
ADMIN_PASSWORD=change-me-please
